@import './components/hero';
@import './base/fonts';
@import './base/colors';
@import './base/reset';
@import './components/hero';
@import './components/nav';
@import './components/mixins';
@import './components/services';
@import './components/testimonials';
@import './components/strategy';
@import './components/team';
@import './components/faqs';
@import './components/footer';

body {
    font-family: 'Urbanist', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
