@use '../base/colors' as v;

footer {
    background-color: v.$heading-color;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 50px 0;
    & h2 {
        color: v.$white;
    }
    & a {
        justify-self: center;
    }
}

// Media Querys
@media (min-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {
    
}