@use '../base/colors' as v;

nav {
    & ul {
        display: none;
        gap: 40px;
        list-style: none;
        & li {
            & a {
                color: v.$heading-color;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

// Media Querys
@media (min-width: 768px) {
    nav {
        & ul {
            display: flex;
        }
    }
}

@media (min-width: 1024px) {
    
}

@media (min-width: 1280px) {

}